<style>
    @import url('https://fonts.googleapis.com/css2?family=Linden+Hill&display=swap&family=Hind:wght@300');

    * {
        padding: 0;
        margin: 0;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 3.5em;
        background-color: #ef5350;
    }

    h2 {

        font-family: 'Linden Hill', serif;
        font-size: 2em;
        text-transform: uppercase;
        padding-left: 2em;
    }
</style>
<header>
    <h2>Geo Location Intelligent System</h2>
</header>