<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="The platform empowers organizations
                 to visualize locational information in any location to enhance decision
                 making for your brand">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.11.3/xlsx.full.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />

    <title>Abonten</title>

</head>

<body>
    {{>main_header}}
    {{{body}}}
    <script src="./js/index.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&callback=initMap&libraries==visualization&v=weekly"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.js"
        integrity="sha512-9a3fUw6lfG4YSeu9SkflkpLKhMBvHj/SJaP5MBDwOd2ABbd6AyytlaAYxsUjlZyNCoGTtpg6q29IwcVjAwC/ug=="
        crossorigin="anonymous"></script>
</body>

</html>