<style>
    #contactUS{
        display: flex;
        flex-direction: column;
    }

</style>
<div id="contactUS">
    <p>Email: <a href="mailto:gis@predictiveanalytics.co.ke">gis@predictiveanalytics.co.ke</a></p>
    <p>Phone Number: <a href="tel:+254-722-816171">+254-722-816171</a></p>
    <p><a href="https://training.predictiveanalytics.co.ke/#locationintel">Learn More</a></p>
    <a href="https://icons8.com/"><img src="images/icons8.png" alt="icons8" id="icons8"></a>
</div>