<article class="description modal">
    <div class="modal-content">
        <p class="description__open">This platform empowers organizations to visualize location information in any
            specified geographic location automatically, thereby enhancing decisions for your brand, service,
            product or organization.
        </p>
        <div class="description__modules">
            <div class="module">
                <h5>Module 1. Gather and View:</h5>
                <p>The platform is interlinked with our mobile app and has the capability of gathering a wide
                    spectrum of data across a diverse geographical location and interlay with multiple layers of
                    data to give a more precise view of information.
                </p>
            </div>
            <div class="module">
                <h5>Module 2. Visualize and Analyze</h5>
                <p>Using various cutting edge visualization formats, the system infuses models into graphical
                    mapping displays and built in analytics with an easy user interface to identify, curate and
                    understand relevant insights for your organisation.
                </p>
            </div>
            <div class="module">
                <h5>Module 3. Strategize and Act</h5>
                <p>The inbuilt Machine Learning recommender engine enables a telescopic view to guide effective
                    strategies, informed decisions and proactive strategies.
                </p>
            </div>
        </div>
    </div>

</article>