<div id="loader"></div>
<div id="billboardTable" class="active">
    <table>

        <tr class="filter_row">
            <th>Filter By:</th>

            <td>
                <select class="filter_selector" title="Lighting Filter" name="site_lighting_illumination"
                    id="site_lighting_illumination_filter">
                    <option selected value="">Choose one</option>
                    <option class="backlit" value="backlit">Backlit </option>
                    <option class="frontlit" value="frontlit">Frontlit </option>
                    <option class="unlit" value="unlit">Unlit</option>
                </select>
            </td>

            <td>
                <select class="filter_selector" title="Site Run Up Filter" name="site_run_up" id="site_run_up_filter">
                    <option selected value="">Choose one</option>
                    <option value="1_50">0-50m</option>
                    <option value="51_100">51-100m</option>
                    <option value="101_150">100-150m</option>
                    <option value="151_200">151-200m</option>
                    <option value="200_">200m +</option>
                </select>
            </td>

            <td>
                <select class="filter_selector" title="Height Filter" name="height" id="height_filter">
                    <option selected value="">Choose one</option>
                    <option value="eye level">Eye Level </option>
                    <option value="moderate">Moderate </option>
                    <option value="too high">Too High</option>
                </select>
            </td>

            <td>
                <select class="filter_selector" title="Orientation Filter" name="orientation" id="orientation_filter">
                    <option selected value="">Choose one</option>
                    <option value="landscape">Landscape </option>
                    <option value="portrait">Potrait </option>
                    <option value="square">Square</option>
                </select>
            </td>

            <td>
                <select class="filter_selector" title="Clutter Filter" name="clutter" id="clutter_filter">
                    <option selected value="">Choose one</option>
                    <option value="solus">Solus </option>
                    <option value="average">Average </option>
                    <option value="cluttered">Cluttered</option>
                </select>
            </td>

        </tr>

        <tr class="categorize_row">
            <th>Categorize By:</th>
            <td>
                <div class="cell">
                    <label for="lighting">Lighting</label><br />
                    <input type="radio" id="lighting" class="category" name="category"
                        value="site_lighting_illumination" />
                </div>
            </td>

            <td>
                <div class="cell">
                    <label for="site_run_up">Site Run Up</label><br />
                    <input type="radio" id="site_run_up" class="category" name="category" value="site_run_up" />
                </div>
            </td>

            <td>
                <div class="cell">
                    <label for="height">Height</label><br />
                    <input type="radio" id="height" class="category" name="category" value="height" />
                </div>
            </td>

            <td>
                <div class="cell">
                    <label for="orientation">Orientation</label><br />
                    <input type="radio" id="orientation" class="category" name="category" value="orientation" />
                </div>
            </td>

            <td>
                <div class="cell">
                    <label for="clutter">Clutter</label><br />
                    <input type="radio" id="clutter" class="category" name="category" value="clutter" />
                </div>
            </td>

        </tr>
    </table>
</div>
<div id="billboardDetails" style="display: none;">
    <div id="map"></div>
</div>