<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        box-sizing: border-box;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 90vw;
      }

      th {
        text-align: left;
        border: 1px solid #dddddd;
      }
      td {
        border: 1px solid #dddddd;
        white-space: nowrap;
        padding: 6px 8px;
      }
      td:first-child {
        text-align: right;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

      .cell {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }

      .filter_selector {
        font-size: 1rem;
        padding: 3px;
        height: 30px;
      }
      .color_codes {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0 3px;
      }
      .color_codes div {
        height: 20px;
        width: 5em;
        margin: 0 0 3px 0;
        color: rgb(5, 1, 1);
        text-align: center;
      }
      #score {
        font-size: 4rem;
        color: rgb(255, 72, 0);
      }
      .three {
        background-color: rgb(72, 231, 44);
      }

      .two {
        background-color: rgb(235, 238, 83);
      }
      .one {
        background-color: rgb(233, 32, 32);
      }
      .excellent {
        background-color: rgb(76, 226, 231);
      }
      .backlit {
        background-color: azure;
      }
      .frontlit {
        background-color: rgb(236, 184, 104);
      }
      .unlit {
        background-color: rgb(39, 37, 37);
      }
    </style>
  </head>
  <body>
    <table>
      <tr class="categorize_row">
        <th>Categorize By:</th>
        <td>
          <div class="cell">
            <label for="lighting">Lighting</label><br />
            <input
              type="radio"
              id="lighting"
              name="category"
              value="site_lighting_illumination"
            />
          </div>
        </td>

        <td>
          <div class="cell">
            <label for="condition">Condition</label><br />
            <input
              type="radio"
              id="condition"
              name="category"
              value="condition"
            />
          </div>
        </td>

        <td>
          <div class="cell">
            <label for="visibility">Visibility</label><br />
            <input
              type="radio"
              id="visibility"
              name="category"
              value="visibility"
            />
          </div>
        </td>

        <td>
          <div class="cell">
            <label for="height">Height</label><br />
            <input type="radio" id="height" name="category" value="height" />
          </div>
        </td>

        <td>
          <div class="cell">
            <label for="traffic">Traffic</label><br />
            <input type="radio" id="traffic" name="category" value="traffic" />
          </div>
        </td>

        <td>
          <div class="cell">
            <label for="traffic_q">Traffic Quality</label><br />
            <input
              type="radio"
              id="traffic_q"
              name="category"
              value="traffic_q"
            />
          </div>
        </td>
        <td>
          <div class="cell">
            <label for="clutter">Clutter</label><br />
            <input type="radio" id="clutter" name="category" value="clutter" />
          </div>
        </td>
        <td style="font-weight: 900; color: chocolate">Score</td>
      </tr>

      <tr class="filter_row">
        <th>Filter By:</th>
        <td>
          <div class="cell">
            <select
              class="filter_selector"
              name="lighting"
              id="lighting_filter"
            >
              <option selected value="">Choose one</option>
              <option class="backlit" value="backlit">Backlit (3)</option>
              <option class="frontlit" value="frontlit">Frontlit (2)</option>
              <option class="unlit" value="unlit">Unlit (1)</option>
            </select>
            <div class="color_codes">
              <div class="backlit">(3)</div>
              <div class="frontlit">(2)</div>
              <div class="unlit">(1)</div>
            </div>
          </div>
        </td>

        <td>
          <div class="cell">
            <select
              class="filter_selector"
              name="condition"
              id="condition_filter"
            >
              <option selected value="">Choose one</option>
              <option class="excellent" value="excellent">Excelent (4)</option>
              <option class="three" value="good">Good (3)</option>
              <option class="two" value="average">Average (2)</option>
              <option class="one" value="poor">Poor (1)</option>
            </select>
            <div class="color_codes">
              <div class="excellent">(4)</div>
              <div class="three">(3)</div>
              <div class="two">(2)</div>
              <div class="one">(1)</div>
            </div>
          </div>
        </td>
        <td>
          <div class="cell">
            <select
              class="filter_selector"
              name="visibility"
              id="visibility_filter"
            >
              <option selected value="">Choose one</option>
              <option class="three" value="excellent">Excelent (3)</option>
              <option class="two" value="good">Good (2)</option>
              <option class="one" value="Poor">Poor (1)</option>
            </select>
            <div class="color_codes">
              <div class="three">(3)</div>
              <div class="two">(2)</div>
              <div class="one">(1)</div>
            </div>
          </div>
        </td>
        <td>
          <div class="cell">
            <select class="filter_selector" name="height" id="height_filter">
              <option selected value="">Choose one</option>
              <option class="three" value="eye level">Eye Level (3)</option>
              <option class="two" value="moderate">Moderate (2)</option>
              <option class="one" value="too high">Too High (1)</option>
            </select>
            <div class="color_codes">
              <div class="three">(3)</div>
              <div class="two">(2)</div>
              <div class="one">(1)</div>
            </div>
          </div>
        </td>
        <td>
          <div class="cell">
            <select class="filter_selector" name="traffic" id="traffic_filter">
              <option selected value="">Choose one</option>
              <option class="three" value="Slow">Slow (3)</option>
              <option class="two" value="average">Average (2)</option>
              <option class="one" value="Fast">Fast (1)</option>
            </select>
            <div class="color_codes">
              <div class="three">(3)</div>
              <div class="two">(2)</div>
              <div class="one">(1)</div>
            </div>
          </div>
        </td>
        <td>
          <div class="cell">
            <select
              class="filter_selector"
              name="trafficq"
              id="trafficq_filter"
            >
              <option selected value="">Choose one</option>
              <option class="three" value="heavy">Heavy (3)</option>
              <option class="two" value="medium">Medium (2)</option>
              <option class="one" value="light">Light (1)</option>
            </select>
            <div class="color_codes">
              <div class="three">(3)</div>
              <div class="two">(2)</div>
              <div class="one">(1)</div>
            </div>
          </div>
        </td>
        <td>
          <div class="cell">
            <select class="filter_selector" name="clutter" id="clutter_filter">
              <option selected value="">Choose one</option>
              <option class="three" value="solus">Solus (3)</option>
              <option class="two" value="average">Average (2)</option>
              <option class="one" value="cluttered">Cluttered (1)</option>
            </select>
            <div class="color_codes">
              <div class="three">(3)</div>
              <div class="two">(2)</div>
              <div class="one">(1)</div>
            </div>
          </div>
        </td>
        <td id="score">0</td>
      </tr>
    </table>
    <script src="billboardsData.js"></script>
    <script>
      function parseData(val) {
        if (val === null || val === undefined) {
          return "";
        }
        return val;
      }
      const dimension = [
        {
          site_lighting_illumination: {
            backlit: { score: 3, color: "#CFD8DC" },
            frontlit: { score: 2, color: "#FFF9C4" },
            unlit: { score: 1, color: "#37474F" },
          },
        },
        {
          condition: {
            excellent: { score: 4, color: "#33691E" },
            good: { score: 3, color: "#7CB342" },
            average: { score: 2, color: "#FFB300" },
            poor: { score: 1, color: "#FF7043" },
          },
        },
        {
          visibility: {
            excellent: { score: 3, color: "#2E7D32" },
            good: { score: 2, color: "#4CAF50" },
            poor: { score: 1, color: "#FF8A65" },
          },
        },
        {
          height: {
            "eye level": { score: 3, color: "#2E7D32" },
            moderate: { score: 2, color: "#4CAF50" },
            "too high": { score: 1, color: "#FF8A65" },
          },
        },
        {
          traffic: {
            slow: { score: 3, color: "#2E7D32" },
            average: { score: 2, color: "#4CAF50" },
            fast: { score: 1, color: "#FF8A65" },
          },
        },
        {
          traffic_q: { heavy: 3, medium: 2, light: 1 },
        },
        {
          clutter: {
            solus: { score: 3, color: "#2E7D32" },
            average: { score: 2, color: "#4CAF50" },
            cluttered: { score: 1, color: "#FF8A65" },
          },
        },
      ];

      document.getElementsByName("category").forEach((cat) => {
        cat.addEventListener("change", (e) => {
          categorize(cat.value);
        });
      });

      function categorize(category) {
        billboards.forEach((billboard) => {
          for (let [billboardProp, value] of Object.entries(billboard)) {
            if (billboardProp.toLowerCase() === category.toLowerCase()) {
              if (
                value == null ||
                value === "null" ||
                value == undefined ||
                value == "undefined"
              ) {
                billboard.categorize = null;
              } else {
                let categorizeData = getColorCodesScores(category, value);
                billboard.categorize = categorizeData;
              }
            }
          }
          console.log(billboard);
        });
      }

      function getColorCodesScores(dimensionCategory, dimensionValue) {
        let result;
        dimension.some((dim) => {
          return Object.entries(dim).some(([key, value]) => {
            if (dimensionCategory.toLowerCase() === key.toLowerCase()) {
              return Object.entries(value).some(([k, v]) => {
                if (k.toLowerCase() === dimensionValue.toLowerCase()) {
                  result = value[k];
                  return true;
                }
                return false;
              });
            }
          });
        });
        return result;
      }

      document.querySelectorAll(".filter_selector").forEach((filter) => {
        filter.addEventListener("change", (e) => {
          if (filter.value != "") {
            const name = filter.getAttribute("name");
            filterBy(name, filter.value);
          }
        });
      });

      function filterBy(propertyToBeFiltered, filterOpt) {
        // console.log(propertyToBeFiltered, filterOpt);
        return billboards.filter((billboard) => {
          if (
            billboard[propertyToBeFiltered] != null ||
            billboard[propertyToBeFiltered] != "null" ||
            billboard[propertyToBeFiltered] != undefined ||
            billboard[propertyToBeFiltered] != "undefined"
          ) {
            if (
              billboard[propertyToBeFiltered].trim().toLowerCase() ===
              filterOpt.toLowerCase()
            ) {
              console.log(billboard);
              return billboard;
            }
          } else {
            console.log("nasndas");
          }
        });
      }
    </script>
  </body>
</html>
