<form method="POST" action="/api/billboards/upload" id="uploadForm" enctype="multipart/form-data">
    <span>Upload an xls or xlsx File: </span>
    <input type="file" name="xlsFile" id="xlsFile"
        accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
    <button type="submit" class="btn">Upload</button>
    <p class="uploadForm__alert">Use MM.DD.YYYY Date Format</p>
</form>